@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/Roboto/Roboto-Regular.ttf") format("TrueType");
}

#todo-editor{
  padding: 40px;
  height: calc(100vh - 20px);
  background-color: #A9FFDA;
}

#msgs{
  padding: 0px 40px 5px 40px;
  height: calc(100% - 96px);
  overflow: scroll;
  font-family: "Robot-Regular";
}

#chat{
  background-color: #7CBFA7;
  height: 83vh;
  position: relative;
  width: 100%;

}

#pos-text{
  position: absolute;
  bottom: 0;
  background-color: #5E8D7C;
  width: inherit;
  padding: 15px 0px 15px 0px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  

}

#text-box{
  padding: 5px;
  background-color: #A9FFDA;
  border: 0;
  height: 38px;
  resize: none;
  width: 300px;
  font-family: "Roboto-Regular";

}
#pos-send-button{
  position: absolute;
  right: 5%;
  button{
    background-color: transparent;
    border: 0;
    cursor: pointer;

  }

}


.pos-date{
  width: 100%;
  display: flex;
  justify-content: center;
}
.date-organization{
  width: fit-content;
  height: fit-content;
  font-family: "Roboto-Regular";
  background-color: #95E6C8;
  border: 5px solid #95E6C8;
  border-radius: 6px;

}
#page-modal-tag{
  font-family: "Roboto-Regular";
  display: none;
  opacity: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;  
  justify-content: center;
  align-items: center;
  z-index: 80;
}
#back-modal-criar-tag{
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;  
  background-color: black;
  z-index: 90;
  justify-content: center;
  align-items: center;
}

#modal-adicionar-tag{
  background-color: #A9FFDA;
  opacity: 1;
  z-index: 100;
  padding: 7px 20px;
  color: black;
  width: 250px;
  display: flex;
  align-items: flex-start;
  flex-direction:column;

}

#modal-criar-tag-input{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;
  
}
#modal-criar-tag-button{
  width: fit-content;
}

#modal-criar-tag{
  display: none;
  flex-direction: column;
}

.select-tag-position{
  width: 100%;
  display: flex;
  justify-content:space-between;
  padding: 5px 0;
  align-items:flex-start;
  select{
    border: 2px #5E8D7C solid;
    background-color: white;
    color: black;
    padding: 3px 5px;
  }
  div{
  
    display: flex;
    align-content:flex-start;
    flex-direction: column;
    button{
      margin: 6px 5px;
      background-color: #5E8D7C;
      color: white;
      border: 2px #95E6C8 solid;
      cursor: pointer;
      padding: 3px 6px
    }
  }
}

#select-tag{
  height: fit-content;
  margin: 6px 0;
}

.tag-style{
  margin: 2px 7px;
  padding: 2px 5px;
  height: fit-content;
  position: relative;
  font-family: 'Roboto-Regular';
  font-size: 14px;
  &:hover > .minus-button{
    display: flex;
  }
}

#showing-tags{
  display: none;
  position: absolute;
  top: -110px;
  background-color: #A9FFDA;
  height: 90px;
  width: 200px;
}

#pos-tag-button{
  position: absolute;
  left: 5%;
  background-color: #A9FFDA;
  #add-tag-button{
    padding: 5px 9px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  &:hover > #showing-tags{
    display: flex;
  }
}

#showing-tags:hover{
  display: flex;
}

#organizacao-tags{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-content: center;

  width: inherit;
  margin: 10px;
}

.minus-button{
  display: none;
  background-color: black;
  color: white;
  position: absolute;
  right: -10px;
  border: 0;
  top: 0;
  height: 100%;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  &:hover{
    display: flex;
  }
}


@media screen and (max-width: 600px) {
  #todo-editor{
    padding: 0px;
  }
  #msgs{
    padding: 0px 5px 5px 5px;
    height: calc(100% - 100px);
  }
  #text-box{
    width: 80vw;
    margin-right: 20px;
  }
  #chat{
    height: 100vh;
  }
  #pos-send-button{
    right: 1%;
  }
}


.triangle-tag{
  position: absolute;
  top: 90px;
}
