@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/Roboto/Roboto-Regular.ttf") format("TrueType");
}

.msgs{
  padding: 0px 40px 5px 40px;
  height: calc(100% - 96px);
  overflow: scroll;
  font-family: "Robot-Regular";
}
.todo{
  padding: 40px;
  height: calc(95vh - 80px);
  background-color: #A9FFDA;
}
.chat{
  background-color: #7CBFA7;
  height: 83vh;
  position: relative;
  width: 100%;

}

.posText{
  position: absolute;
  bottom: 0;
  background-color: #5E8D7C;
  width: inherit;
  padding: 15px 0px 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  

}

.textBox{
  padding: 5px;
  background-color: #A9FFDA;
  border: 0;
  height: 38px;
  resize: none;
  width: 300px;
  font-family: "Roboto-Regular";

}
.posSendButton{
  position: absolute;
  right: 5%;
  button{
    background-color: transparent;
    border: 0;
    cursor: pointer;

  }

}

.posDate{
  width: 100%;
  display: flex;
  justify-content: center;
}
.dateOrganization{
  width: fit-content;
  height: fit-content;
  font-family: "Roboto-Regular";
  background-color: #95E6C8;
  border: 5px solid #95E6C8;
  border-radius: 6px;

}