@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/Roboto/Roboto-Regular.ttf") format("TrueType");
}

#todoEditor{
  padding: 40px;
  height: calc(95vh - 80px);
  background-color: #A9FFDA;
}

#msgs{
  padding: 0px 40px 5px 40px;
  height: calc(100% - 96px);
  overflow: scroll;
  font-family: "Robot-Regular";
}

#chat{
  background-color: #7CBFA7;
  height: 83vh;
  position: relative;
  width: 100%;

}

#posText{
  position: absolute;
  bottom: 0;
  background-color: #5E8D7C;
  width: inherit;
  padding: 15px 0px 15px 0px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  

}

#textBox{
  padding: 5px;
  background-color: #A9FFDA;
  border: 0;
  height: 38px;
  resize: none;
  width: 300px;
  font-family: "Roboto-Regular";

}
#posSendButton{
  position: absolute;
  right: 5%;
  button{
    background-color: transparent;
    border: 0;
    cursor: pointer;

  }

}

#posTagButton{
  position: absolute;
  left: 5%;
  background-color: #A9FFDA;
  button{
    padding: 5px 9px;
    background-color: transparent;
    border: 0;
    cursor: pointer;

  }

}


.posDate{
  width: 100%;
  display: flex;
  justify-content: center;
}
.dateOrganization{
  width: fit-content;
  height: fit-content;
  font-family: "Roboto-Regular";
  background-color: #95E6C8;
  border: 5px solid #95E6C8;
  border-radius: 6px;

}
#page_modal_tag{
  font-family: "Roboto-Regular";
  display: none;
  opacity: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;  
  justify-content: center;
  align-items: center;
  z-index: 80;
}
#back_modal_criar_tag{
  opacity: 0.4;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;  
  background-color: black;
  z-index: 90;
  justify-content: center;
  align-items: center;
}

#modal_adicionar_tag{
  background-color: #A9FFDA;
  opacity: 1;
  z-index: 100;
  padding: 7px 20px;
  color: black;
  width: 250px;
  display: flex;
  align-items: flex-start;
  flex-direction:column;

}

#modal_criar_tag_input{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  width: 100%;
  
}
#modal_criar_tag_button{
  width: fit-content;
}

#modal_criar_tag{
  display: none;
  flex-direction: column;
}

.select_tag_position{
  width: 100%;
  display: flex;
  justify-content:space-between;
  padding: 5px 0;
}

.tag_style{
  margin: 2px 3px;
  padding: 2px 5px;
  height: fit-content;
}

#showing_tags{
  display: none;
  position: absolute;
  top: -110px;
  background-color: #A9FFDA;
  height: 90px;
  width: 200px;
}

#organizacao_tags{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-content: center;

  width: inherit;
  margin: 10px;
}

@media screen and (max-width: 600px) {
  #todoEditor{
    padding: 0px;
  }
  #msgs{
    padding: 0px 5px 5px 5px;
    height: calc(100% - 100px);
  }
  #textBox{
    width: 80vw;
    margin-right: 20px;
  }
  #chat{
    height: 100vh;
  }
  #posSendButton{
    right: 1%;
  }
}


.triangleTag{
  position: absolute;
  top: 90px;
}
