


.divTextCaracteristics{
  font-family: "Roboto-Regular";
  font-size: 20px;
  padding: 3px;
  width: fit-content;
  height: fit-content;
  margin-right: 50px;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

#todoMostrador{
  min-height: 100%;
}

#organizeDiv{
  position: relative;
  background-color: #A9FFDA;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  position: relative;
  z-index: 20;
}

.rodape{
  background-color: #CFE7CF;
  width: calc(100vw - 14px);
  text-align: center;
  font-family: "Roboto-Regular";
  padding: 7px;
  position:absolute;
  bottom: 0;
}
.link-my-page{
  color: black;
}


@media screen and (max-width: 600px) {
  .divTextCaracteristics{
    margin: 0;
    margin-bottom: 10px;
  }

}
