


.divTextCaracteristics{
  font-family: "Roboto-Regular";
  font-size: 20px;
  padding: 3px;
  width: fit-content;
  height: fit-content;
  margin-right: 50px;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

.todo{
  position: relative;

  padding: 40px;
}

.organize{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.poss-div{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.my-title{
  font-family: "Roboto-Regular";
  font-size: 40px;
}

.rodape{
  background-color: #CFE7CF;
  width: 100vw - 14px;
  text-align: center;
  font-family: "Roboto-Regular";
  padding: 7px;
}
.link-my-page{
  color: black;
}