

#todoMostrador{
  position: relative;
  min-height: 100%;
}

#organizeDiv{
  background-color: #A9FFDA;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  min-height: calc(95vh - 19.3333px - 14px - 80px);

  position: relative;
  z-index: 20;
}

.rodape{
  background-color: #CFE7CF;
  width: calc(100vw - 14px);
  text-align: center;
  font-family: "Roboto-Regular";
  padding: 7px;
  position:relative;
}
.link-my-page{
  color: black;
}


.minus-button-chat{
  display: none;
  background-color: black;
  color: white;
  position: absolute;
  right: -20px;
  border: 0;
  top: 0px;
  height: 20px;
  width: 20px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  z-index: 3;
  cursor: pointer;
  &:hover{
    display: flex;
  }
}

.divTextCaracteristics{
  font-family: "Roboto-Regular";
  font-size: 20px;
  padding: 3px;
  width: fit-content;
  height: fit-content;
  margin: 0;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
}

.chat_link{
  position: relative;
  background-color: rgba(0, 0, 0, 0.75);
}

.position_chat_link{
  position: relative;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  &:hover > .minus-button-chat{
    display: flex;
  }
}

@media screen and (max-width: 600px) {
  .divTextCaracteristics{
    margin: 0;
    margin-bottom: 10px;
  }

}
