@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/Roboto/Roboto-Regular.ttf") format("TrueType");
}


body {
  margin: 0 !important;
  font-family: "Roboto-Regular", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #A9FFDA;



}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
