ul{
    display: flex;
    justify-content: flex-end;
    align-items:flex-start;
    list-style-type: none;
    margin: 0;
    background-color: #A9FFDA;
    height: 5vh;

    li{
        border: 1px solid black;
        border-left: 0;
        background-color: #fff;
        padding: 4px;
        cursor: pointer;
        a{
            color:black;
        }
    }
    li:first-child{
        border: 1px solid black;
        
    }
}

@media screen and (max-width: 600px) {
    ul{
        position: absolute;
        z-index: 10;
        background-color: transparent;
        right: 0;
    }
}